/* Group block styles */

.wp-block-group__inner-container.block-editor-block-list__layout {
    border: 1px solid black;
    padding: 15px;
}

/* h1 styles */

h1::before {
    content: none;
}

/* p styles */

.block-editor-rich-text__editable.block-editor-block-list__block.wp-block.wp-block-paragraph.rich-text {
    border: 1px solid gray;
    padding: 15px;
}

@media only screen and (min-width: 768px) {

    .wp-block {
        width: 90%;
        margin-left: auto;
        margin-right: auto;
    }
}
